<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.allpet.nosedetection" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
	<name>Nose Detection Plugin</name>
    <js-module name="NoseDetectionPlugin" src="www/NoseDetectionPlugin.js">
        <clobbers target="cordova.plugins.NoseDetectionPlugin" />
    </js-module>
 
	<platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="NoseDetectionPlugin">
                <param name="android-package" value="com.allpet.nosedetection.NoseDetectionPlugin"/>
            </feature>
        </config-file>
		<config-file target="AndroidManifest.xml" parent="/manifest">
    		<uses-permission android:name="android.permission.CAMERA" />
    		<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    		<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <activity android:name="com.allpet.nosedetection.DetectorActivity" android:screenOrientation="portrait" />
        </config-file>
        <source-file src="src/android/java/AutoFitTextureView.java" target-dir="src/com/allpet/nosedetection"/>
        <source-file src="src/android/java/CameraActivity.java" target-dir="src/com/allpet/nosedetection"/>
        <source-file src="src/android/java/CameraConnectionFragment.java" target-dir="src/com/allpet/nosedetection"/>
        <source-file src="src/android/java/Classifier.java" target-dir="src/com/allpet/nosedetection"/>
        <source-file src="src/android/java/DetectorActivity.java" target-dir="src/com/allpet/nosedetection"/>
        <source-file src="src/android/java/GifView.java" target-dir="src/com/allpet/nosedetection"/>
        <source-file src="src/android/java/LegacyCameraConnectionFragment.java" target-dir="src/com/allpet/nosedetection"/>
        <source-file src="src/android/java/MResource.java" target-dir="src/com/allpet/nosedetection"/>
        <source-file src="src/android/java/NoseDetectionPlugin.java" target-dir="src/com/allpet/nosedetection"/>
        <source-file src="src/android/java/OverlayView.java" target-dir="src/com/allpet/nosedetection"/>
        <source-file src="src/android/java/TensorFlowObjectDetectionAPIModel.java" target-dir="src/com/allpet/nosedetection"/>
        <source-file src="src/android/java/env/BorderedText.java" target-dir="src/com/allpet/nosedetection/env"/>
        <source-file src="src/android/java/env/ImageUtils.java" target-dir="src/com/allpet/nosedetection/env"/>
        <source-file src="src/android/java/env/Logger.java" target-dir="src/com/allpet/nosedetection/env"/>
        <source-file src="src/android/java/env/Size.java" target-dir="src/com/allpet/nosedetection/env"/>
        <source-file src="src/android/java/tracking/MultiBoxTracker.java" target-dir="src/com/allpet/nosedetection/tracking"/>
        <source-file src="src/android/java/tracking/ObjectTracker.java" target-dir="src/com/allpet/nosedetection/tracking"/>
        <source-file src="src/android/res/drawable/progress.gif" target-dir="res/drawable"/>
        <source-file src="src/android/res/layout/activity_camera_origin.xml" target-dir="res/layout"/>
        <source-file src="src/android/res/layout/camera_connection_fragment.xml" target-dir="res/layout"/>
        <source-file src="src/android/res/layout/camera_connection_fragment_tracking.xml" target-dir="res/layout"/>
        <source-file src="src/android/assets/allpet_custom_v11_android.pb" target-dir="assets/tf"/>
        <source-file src="src/android/assets/allpet_labels_list.txt" target-dir="assets/tf"/>
        <source-file src="src/android/assets/BUILD" target-dir="assets/tf"/>
    	<framework src="com.android.support:support-v4:27.1.1+" />
    	<framework src="org.tensorflow:tensorflow-android:+" />
	</platform>
</plugin>
