<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.allpet.nosedetection" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>NoseDetectionCordovaPlugin</name>
    <js-module name="NoseDetectionCordovaPlugin" src="www/NoseDetectionCordovaPlugin.js">
        <clobbers target="cordova.plugins.NoseDetectionCordovaPlugin" />
    </js-module>
</plugin>
